html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(170, 164, 206);
}

#ui-root {
  position: relative;
  width: auto;
  height: auto;
}

.infoBox {
  opacity: 0;
  transform: translateY(10px) scale(0.95);
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.infoBox.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.infoBox.hide {
  opacity: 0;
  transform: translateY(-10px) scale(0.95);
}
