html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(170, 164, 206);
}

#ui-root {
  position: relative;
  width: auto;
  height: auto;
}

.infoBox {
  opacity: 0;
  transform: translateY(10px) scale(0.95);
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.infoBox.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.infoBox.hide {
  opacity: 0;
  transform: translateY(-10px) scale(0.95);
}

.mineSweeperCell {
  background-color: rgb(195, 195, 195);
  box-shadow: inset 2px 2px 0 0 rgb(187, 187, 187), inset -2px -2px 0 0 rgb(192, 192, 192);
  box-sizing: border-box;
  user-select: none;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

.mineSweeperCell.bomb {
  background-color: rgb(200, 29, 29);
  box-shadow: inset 1px 1px 0 0 rgb(255, 100, 100), inset -1px -1px 0 0 rgb(85, 10, 10);
}

.mineSweeperCell.hidden {
  background-color: rgb(195, 195, 195);
  box-shadow: inset 5px 5px 0 0 rgb(242, 242, 242), inset -5px -5px 0 0 rgb(70, 70, 70);
}
